@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@100;300;400;700&family=Work+Sans:wght@100;400;600;700&display=swap');

* {
  margin: 0;
}

body {
  --color-1: hsla(219, 27%, 41%, 1);
  --color-2: hsla(206, 83%, 58%, 1);
  --color-3: hsla(0, 0%, 100%, 1);
  --color-4: hsla(169, 82%, 42%, 1);
  --color-5: hsla(60, 6%, 18%, 1);
}

.App {
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.loading {
  font-family: 'Work Sans';
  font-weight: 100;
  font-size: 4rem;
  padding: 50px;
  width: 500px;
  margin: 50px auto;
  background-color: white;
  border: 10px solid var(--color-2);

}

ul {
  list-style: none;
}